* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #262626;
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: linear-gradient(rgba(255,140,0,0.7), rgba(150,0,0,0.9)), url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.main-container {
    /*background-color: pink;*/
    width: 760px;
    height: 500px;
    margin: auto;
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5%;
}

.title-container {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.title-container h3 {
    font-size: 90px;
    font-weight: bold;
}

.main-container p {
    font-weight: lighter;
    line-height: 1.5;
}

.btn-container {
    /*background-color: pink;*/
    width: 400px;
    padding: 30px;
    margin: auto;
}

.btn-container button {
    margin: auto;
    width: 150px;
    height: 70px;
    text-align: center;
    background: transparent;
    border: 1.5px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5%;
    transition: background-color 2s ease-out;
}

.btn-container button:hover {
    background-color: white;
    color: black;
}

.form-container {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.form {
    width: 500px;
    height: 700px;
    background-color: rgba(0,0,0,0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
}

.form-title {
    padding: 30px;
}

.form-title h3 {
    text-align: center; 
    font-size: 35px;
}

.signup-form {
    padding: 20px;
}

.login-form {
    padding: 20px;
}

.signup-form label {
    font-family: 'Poppins', sans-serif;
}

.login-form label {
    font-family: 'Poppins', sans-serif;
}

.input-field {
    width: 70%;
    padding: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid white;
    color: white;
}

.form-btn {
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Poppins', sans-serif;
    color: white;
}