* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    /*
    background-image: linear-gradient(rgba(255,140,0,0.5), rgba(255,140,0,0.9)), url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-image: linear-gradient(rgba(0, 136, 204, 0.8), rgba(0, 136, 204, 0.7));
    height: 100vh;
}

.todo-container {
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.todo-title {
    padding: 20px;
}

.todo-title h3 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 30px;
    color: #262626;
}

.todo-input-container {
    padding: 15px;
}

.todo-input-container input {
    width: 80%;
    padding: 20px;
    border: 1px dotted gray;
    border-radius: 2px;
}

.todo-input-container button {
    /*
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 2px;
    */
    padding: 20px;
    text-align: center;
    background-color: #cf7027;  
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    cursor: pointer;
}

.todo-list-container {
    height: 67.1%;
    padding-left: 10px;
    overflow: auto;
    z-index: 1;
    border-radius: 15px;
}

.todo-list-container > * {
    width: 80%;
    margin-top: 1%;
    padding: 20px;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    color: #333;
    /*z-index: -1;*/
    /*background-color: 8px;*/
}

.todo-list-container > * > * {
    float: right;
    /*padding: 10px;*/
    width: 50px;
    border: none;
    border-radius: 3px;
    margin-right: 4%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#update-btn {
    background-color: dodgerblue;
    cursor: pointer;
}

#delete-btn {
    background-color: red;
    cursor: pointer;
}

/**
* Start of designing of update modal
*/
.update-modal {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: none;
}

.update-input-container {
    width: 500px;
    height: 300px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 3px;
}

.update-input-container h3 {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.update-input-container input {
    padding: 20px;
}

#update-input {
    margin-left: 5%;
    width: 80%;
}

.btn-box {
    padding: 30px;
}

.btn-box input {
    padding: 20px;
    width: 100px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
}

.btn-box #update {
    background-color: #009900;
    color: white;
}

.btn-box #cancel {
    background-color: #cc3300;
    color: white;
}
/**
* End of designing of update modal 
*/

/**
* Start of designing of clear button container
*/

.clear-btn-container {
    width: 100%;
    padding: 50px;
    position: absolute;
    bottom: 5px;
}

.btn-wrapper {
    width: 210px;
    margin-left: 200px;
    padding-left: 165px;
}

.clear-btn-container button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: orange;
}


/**
* End of designing of clear button container 
*/


/** 
 * Responsive web design starts here
 */


@media (max-width: 768px) {

    header {
        max-width: 768px;
    }

    .todo-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 70%;
        height: 70%;
    }

    .todo-input-container input {
        width: 50%;
    }
}  

/**
 * Responsive web design ends here
 */